<!DOCTYPE html>
<html lang="zh-Hans-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>和龙草地资源</title>
    <link rel="stylesheet" href="../static/css/styles/common.css">
</head>
<body>
    <div class="title">
        <div id="title-p"><p>草地资源资源简介</p></div>
        <div id="back"><a href="{{ url_for('helong') }}">返回</a></div>
        
    </div>
    <div class="mainbox">
        <div class="box">
            <div class="box1">
                <h1>全市天然草地18.3万公顷，其中牧业用草地39550.3公顷。牧业用地包括林下草地15273.5公顷，疏林草地10911.4公顷，灌丛草地7560.4公顷，沼泽草地364公顷，草甸草地4550.9公顷。草地零散多样化，具有优质牧草300多种，产草量高，为草食动物的发展提供优质饲料</h1>
            </div>
        </div>
        <div class="left2">
            <div id="left2Chart"></div>
        </div>
        
    </div>
    <canvas id="canv" style="width: 100%; height: 100%"></canvas>
    <script src="../static/js/js/common-1.js"></script>
    <script src="../static/js/js/common-2.js"></script>
    <script src="../static/js/js/和龙-1.js"></script>
</body>
</html>