<!DOCTYPE html>
<html lang="zh-Hans-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>珲春矿产资源</title>
    <link rel="stylesheet" href="../static/css/styles/common.css">
</head>
<body>
    <div class="title">
        <div id="title-p"><p>矿产资源简介</p></div>
        <div id="back"><a href="{{ url_for('hunchun') }}">返回</a></div>
        
    </div>
    <div class="mainbox">
        <div class="box">
            <div class="box1">
                <h1>珲春目前已发现各类矿产资源35种。珲春拥有吉林省最大的煤田，拥有吉林省第二大黄金带，预测黄金储量120吨， 已探明储量65吨。铜、铁、钨、红柱石、硅石等重要矿藏的储量也极为丰富</h1>
            </div>
        </div>
        <div class="left2">
            <div id="left2Chart"></div>
        </div>
        
    </div>
    <canvas id="canv" style="width: 100%; height: 100%"></canvas>
    <script src="../static/js/js/common-1.js"></script>
    <script src="../static/js/js/common-2.js"></script></div>
    <script src="../static/js/js/珲春-1.js"></script>
</body>
</html>