<!DOCTYPE html>
<html lang="zh-Hans-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>龙井资源</title>
    <link rel="stylesheet" href="../static/css/styles/common.css">
</head>
<body>
    <div class="title">
        <div id="title-p"><p>自然资源简介</p></div>
        <div id="back"><a href="{{ url_for('longjing') }}">返回</a></div>
        
    </div>
    <div class="mainbox">
        <div class="box">
            <div class="box1">
                <h1>龙井市境内有国家级天佛指山松茸自然保护区，保护区总面积77317公顷，主要针叶树种为赤松，地带性森林植被是以赤松为主的针阔混交林,保护区内有国家重点保护I级野生动物1种；国家重点保护Ⅱ级野生动物12种，龙井市有煤、天然沥青、铜、铅、锌、金、镉、铁、钼、耐酸安山岩、硅灰石、石灰石、辉绿岩、矿泉水等33种矿产资源</h1>
            </div>
        </div>
        <div class="left2">
            <div id="left2Chart"></div>
        </div>
        
    </div>
    <canvas id="canv" style="width: 100%; height: 100%"></canvas>
    <script src="../static/js/js/common-1.js"></script>
    <script src="../static/js/js/common-2.js"></script></div>
    <script src="../static/js/js/龙井-1.js"></script>
</body>
</html>